[project]
	description = DeshPro ??????
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Edward Zhou (edwardzhou)
[access "refs/for/refs/*"]
	read = group user/Edward Zhou (edwardzhou)
	push = group user/Edward Zhou (edwardzhou)
	label-Code-Review = -2..+2 group user/Edward Zhou (edwardzhou)
	label-Verified = -1..+1 group user/Edward Zhou (edwardzhou)
	rebase = group user/Edward Zhou (edwardzhou)
	removeReviewer = group user/Edward Zhou (edwardzhou)
	submit = group user/Edward Zhou (edwardzhou)
[access "refs/heads/*"]
	read = group user/Edward Zhou (edwardzhou)
	create = group user/Edward Zhou (edwardzhou)
	push = +force group user/Edward Zhou (edwardzhou)
	pushMerge = group user/Edward Zhou (edwardzhou)
[access "refs/tags/*"]
	push = group user/Edward Zhou (edwardzhou)
	push = +force group user/Edward Zhou (edwardzhou)
