%div{class: "fre_province_select"}
  - Province.all.each_with_index do |province, index|
    - mod = index % 8
    - if mod.eql?(0)
      %div
    %span{ data:{ province_id: index, selected: 'false' } }= province.name
  %div
    %button{ data: {special: resource.id} } 保存
