<table>
  <tr>
    <td><img src="<%= user_extra.image %>" width="100px"/></td>
    <td>
      <div class="user_extra_real_name"><span>用户姓名：</span><span><%= user_extra.real_name %></span></div>
      <div class="user_extra_card_id"><span>身份证号：</span><span><%= user_extra.cert_no %></span></div>
    </td>
  </tr>
</table>