.order_info{
  .operation{
    margin-left: 73%;

    .label, .status{
      font-size: 14px;
    }

    .status{
      color: blue;
    }

    .paid, .success{
      margin-left:37px;
    }
  }
}

.order_race_info{
  table{
    table-layout: fixed;
  }

  .change_price{

  }

  .update_price{
    .order_price_modified{
      display: inline-block;
      margin-left: 50px;
    }
  }

  .number{
    color:red;
  }
}
