table{
    table-layout: fixed;
}

.edit_order{
    font-size: 16px;
}

.change_order_price{
    display: none;
}

.change_order_price input[name='order_price']{
    width: 100px;
}

.order_price_modified, .cancel_button{
    display: inline-block;
    margin-left: 50px;
}

.user_extra_real_name, .user_extra_card_id{
    font-size: 14px;
}

.user_extra_card_id{
    margin-top: 20px;
}

