table{
    table-layout: fixed;
}

.edit_order{
    font-size: 16px;
}

.change_order_price{
    display: none;
}

.change_order_price input[name='order_price']{
    width: 100px;
}

.order_price_modified, .cancel_button{
    display: inline-block;
    margin-left: 50px;
}

.user_extra_real_name, .user_extra_card_id, .user_extra_status{
    font-size: 14px;
}

.user_extra_card_id, .user_extra_status{
    margin-top: 20px;
}

.order_audit{
    margin-top: 15px;
    margin-left: 20px;
}

.order_audit .audit_passed, .audit_failed{
    display: inline-block;
}

.order_address, .update_order_address{
    display: inline-block;
}

.update_order_address{
    margin-left: 20px;
}

.ticket_order_edit{
    display: none;
}

